<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/budget.svg">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %>
    <main class="principal" id="content">
      <div class="container">
        <div class="graf" id="graf">
  
        </div>
      </div>
      <div class="container">
          <div class="header-subtitle">
              <ul class="subtitle-list">
                  <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Last operations</h1></li>
              </ul>
          </div>
      </div><!-- Cierra el subtitle -->
      <div class="container">
          <table>
              <thead>
                  <tr>
                      <th>Operation number</th>
                      <th>Concept</th>
                      <th>$ Amount</th>
                      <th>Date</th>
                      <th>Type</th>                      
                  </tr>
              </thead>
              <% budgets.forEach(budget => { %>
              <tbody>
                  <tr>
                      <td><%= budget.id %></td>
                      <td><%= budget.concept %></td>
                      <td>$ <%= budget.amount %></td>
                      <td><%= budget.date %></td>
                      <td><%= budget.type %></td>                      
                  </tr>
              </tbody>
              <% }) %>
          </table>          
      </div>
  </main>
    <%- include('./partials/footer') %>
    <script src="/javascripts/effects.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('graf', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Budget balance'
            },        
            yAxis: {
                title: {
                    text: 'Amount'
                }
            },
            series: [{
                name: 'Entry',
                data: [14,20,32]
            }, {
                name: 'Egress',
                data: [15, 17, 1]
            }, {
                name: 'Balance',
                data: [1, 3, 31]
            }]
        });
    });
    const mostrar = (entry) => {
      entry.forEach(item => {
        chart.data['series'].push(item.amount);
      })
      console.log(chart.data);
    } 
  </script>
</body>
</html>