<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/budget.svg">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %>
    <main class="principal" id="content">
      <div class="container">
        <div class="header-subtitle">
            <ul class="subtitle-list">
                <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Balance budget</h1></li>
            </ul>
        </div>
        <div class="balance">
            <ul class="list py-2">
                <li class="list-balance"><a class="list-item">Entry</a></li>
                <li class="list-balance"><a class="list-item text-success">$ <%= budgetEntrys %></a></li>
            </ul> 
            <ul class="list py-2">
                <li class="list-balance"><a class="list-item">Egress</a></li>
                <li class="list-balance"><a class="list-item text-warning">$ <%= budgetEgress %></a></li>
            </ul> 
            <hr>
            <% if (balance > 0) { %>
                <ul class="list py-2">
                    <li class="list-balance"><a class="list-item ">Balance</a></li>
                    <li class="list-balance"><a class="list-item text-success d-flex">$ <%= balance %> <img class="img-arrow" src="/images/flechaarriba.svg" alt=""></a></li>
                </ul> 
            <%} else{ %>
                <ul class="list py-2">
                    <li class="list-balance"><a class="list-item">Balance</a></li>
                    <li class="list-balance"><a class="list-item text-warning d-flex">$ <%= balance %> <img class="img-arrow" src="/images/flechaabajo.svg" alt=""></a></li>
                </ul> 
            <% } %>
        </div>
      </div>
      <div class="container">
          <div class="header-subtitle">
              <ul class="subtitle-list">
                  <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Last operations</h1></li>
              </ul>
          </div>
      </div><!-- Cierra el subtitle -->
      <div class="container">
          <table>
              <thead>
                  <tr>
                      <th>Operation number</th>
                      <th>Concept</th>
                      <th>$ Amount</th>
                      <th>Date</th>
                      <th>Type</th>                      
                  </tr>
              </thead>
              <% budgets.forEach(budget => { %>
              <tbody>
                  <tr>
                      <td><%= budget.id %></td>
                      <td><%= budget.concept %></td>
                      <td>$ <%= budget.amount %></td>
                      <td><%= budget.date %></td>
                      <td><%= budget.type %></td>                      
                  </tr>
              </tbody>
              <% }) %>
          </table>          
      </div>
  </main>
    <%- include('./partials/footer') %>
    <script src="/javascripts/effects.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</body>
</html>